*{
    box-sizing: border-box;
    margin: 0;  
}
.apresentacao{
   text-align: center;
   margin: 0;
   padding: 0;
}
.logoler{
    border-style:groove;
    border-radius: 100px;
    width: 80px;
}
body {
    background-color: darkmagenta;
}
.tableicon {
    text-align: center;
    width: 100%;
    border-style:groove;
    border-color:mediumvioletred;
    border-left: none;
    border-right: none;
    background-color:DarkMagenta; 
}
input[type='file'], 
input[type='color'] {
    display: none
  }
button {
   background-color: transparent;
   border-radius: 25px;
   border-color: transparent;
}
select{
    width: 15px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.tableicon i {
    cursor: pointer;
    font-size: 25px;
    color: white;
    background-color: black;
    width: 50px;
    text-align: center;
    border-radius: 30px;
    margin: 1px;
    transition: all 0.5s;  
}
i:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.papermain {
    width: 100vw;
    margin: auto;
    height: 100vh;
    background-color: papayawhip;   
    padding: auto;
}
#bug1{
    cursor: default;
}