*{
    box-sizing: border-box;
    margin: 0;  
}
:root {
    --collorPrimary: #4C0033;
    --collorSecundary: #462DFC;
    --collorSelect: #330157;
}
.apresentacao{
   text-align: center;
   margin: 0;
   padding: 5;
}
.logoler{
    border-style:groove;
    border-radius: 100%;
    width: 75px;
    border-color: var(--collorSecundary);
}
body {
    background-color: var(--collorPrimary)
}
.tableicon {
    text-align: center;
    width: 100%;
    border-style:groove;
    border-color:var(--collorSecundary);
    border-left: none;
    border-right: none;
    background-color:var(--collorPrimary);
}
input[type='file']
{
    display: none
}
button {
   background-color: transparent;
   border-radius: 75%;
   border-color: transparent;
}
select{
    width: 15px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.tableicon i {
    cursor: pointer;
    font-size: 25px;
    color: black;
    background-color: var(--collorSecundary);
    width: 50px;
    text-align: center;
    border-radius: 30px;
    margin: 1px;
    transition: all 0.5s;  
}
.tableicon i:hover , .tableicon i:hover:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.papermain {
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: papayawhip;   
    padding: auto;
    bottom: 0;
    min-height: 100vmax;   
}
#bug1{
    cursor: default;
}
.navFile nav {
    width: 50px;
    background-color: var(--collorPrimary);
}
.navFile ul li {
    border: 3px solid var(--collorSecundary);
    background-color: var(--collorPrimary);
    list-style: none;
    width: 50px;
    float: center;

}
.navFile ul li ul li {
    width: 200px;
    height: 260px;
    border-top-right-radius: 15px;
    border-left-style: dashed;
    text-align: center;
    transition: all 0.5s;  
}
.navFile ul ul{
    display: none;
    margin: 0;

    
}
.navFile ul li:hover>ul,  .navFile ul li:active>ul   {
    display: block;
    position: absolute;
    border-style: double;
    background-color: var(--collorSecundary);
}
.navFile ul li ul li:hover , .navFile ul li ul li:active {
    background-color: var(--collorSelect);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.teste button {
    color: red;
    border: 1px;
    background-color: white;
}
/* conteudos que nao existem no html, mas sao criados no javascript: 

*/
.quadrado {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: white;
}
.circulo {
    background-color: white;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 1px solid black;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 180px solid white;
}
